<td class="sidebar round">
  		<%= link_to "Voltar para o enunciado", enunciado_path(@enunciado) %>
  		<br/>
  		<%= link_to "Eliminar enunciado", @enunciado, :method => :delete,
													  :confirm => "You sure?",
													  :title => @enunciado.titulo %><br/>
</td>