<table class="concurso" summary="Informacao concurso">
	<tr>
		<td>
			<h1>Concursos</h1>


			<%= will_paginate %>

			<ul class="concursos">
			  <%= render @concursos %>
			</ul>

			<%= will_paginate %>
		</td>

		<td class="sidebar round">
			<% if current_user.admin? %>
				<%= link_to "Novo concurso",new_concurso_path %>
			<% end%>
			<br/>
			<% if signed_in? %>
				<b>link para concorrer se nao existir ainda na tabela ..</b>
			<% end %>
		</td>
		
	</tr>
</table>	