<table class="participantes" summary="Informacao dos participantes">
	<tr>
		<td>
			<h1>Participantes</h1>


			<%= will_paginate %>

			<ul class="concursos">
			  <%= render @participantes %>
			</ul>

			<%= will_paginate %>
		</td>
		
		<td class="sidebar round">
			<%= link_to "Voltar para o concurso", Concurso.find(@participantes.first.concurso_id) %>
		</td>
		
	</tr>
</table>