<td class="sidebar round">
	<% if current_user.admin? %>
  		<%= link_to "Editar enunciado", edit_enunciado_path(@enunciado) %>
  		<br/>
  		<%= link_to "Eliminar enunciado", @enunciado, :method => :delete,
													  :confirm => "You sure?",
													  :title => @enunciado.titulo %><br/>
	<% end %>
</td>